<!--&lt;!&ndash; templates/fragments/footer.html &ndash;&gt;-->
<!--<div th:fragment="footer" xmlns:th="http://www.thymeleaf.org">-->
<!--  <footer class="footer">-->
<!--    <div class="container">-->
<!--      <p>&copy; 2025 PaintEcommerce. All rights reserved.</p>-->
<!--      <ul class="footer-links">-->
<!--        <li><a th:href="@{/privacy}">Privacy Policy</a></li>-->
<!--        <li><a th:href="@{/terms}">Terms of Service</a></li>-->
<!--        <li><a th:href="@{/contact}">Contact</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </footer>-->
<!--</div>-->
<div th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
  <footer class="bg-light py-3 mt-4">
    <div class="container text-center">
      <p>© 2025 PaintEcommerce. All rights reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a th:href="@{/privacy}">Privacy Policy</a></li>
        <li class="list-inline-item"><a th:href="@{/terms}">Terms of Service</a></li>
        <li class="list-inline-item"><a th:href="@{/contact}">Contact</a></li>
      </ul>
    </div>
  </footer>
</div>