<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<nav class="navbar">
    <div class="container">
        <a class="logo" th:href="@{/}">PaintEcommerce</a>
        <ul class="nav-links">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/order-list}">My Orders</a></li>
            <li><a th:href="@{/cart}"><i class="icon-cart"></i> Cart</a></li>
            <li sec:authorize="isAnonymous()"><a th:href="@{/login}"><i class="icon-login"></i> Login</a></li>
            <li sec:authorize="isAnonymous()"><a th:href="@{/register}"><i class="icon-register"></i> Register</a></li>
            <li sec:authorize="isAuthenticated()"><form th:action="@{/logout}" method="post"><button class="btn-logout">Logout</button></form></li>
        </ul>
    </div>
</nav>
</body>
</html>